* {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
}

:root{
  --black:#000;
  --white:#fff;
  --principal:#6d38fb;
  --azul-meio:#7935da; 
  --azul-claro:#4571ff;
  --background:#f8f5ff;
  --complementary:#FFAA4C;
}
li {
  list-style: none;
}
a {
  color:var(--black);
  text-decoration: none;
}
button {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
html {
  background: var(--background);
  max-width: 1800px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
.search {
  width: 150px;
  padding:2px 6px;
  color:var(--principal);
  display: flex;
  gap:6px;
  align-items: center;
  border-bottom: 2px solid var(--principal);
}
.search::placeholder{
  color:var(--principal);
}
#search:active, #search:focus {
  border: none;
  outline: none;
} 
#search {
  background: none;
  font-size: 1.2rem;
  border: none;
}


/* ********************************* */
#header{
<<<<<<< HEAD
  background-image: url('../imagens/background1.jpg');
=======
  background-image: url('../imagens/background-header-shopping.jpg');
>>>>>>> 8b3b9487fad8e945586bf845d591d85658ea07f4
  width: 100%;
  background-size: cover;
  height: 100vh;
  max-height: 700px;
  background-attachment: fixed;
  background-position: center;
}
.grid-cabecalho{
  background: var(--white);
  padding: .5rem 0;
}
.cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.menu-header ul {
  display: flex;
  gap:1.2rem;
}
.menu-header ul li a {
  text-transform: uppercase;
}
.logo{
  width: 180px;
}


/* MAIN */
main {
  text-align: center;
}
.titulo {
    text-align: center;
    position: relative;
    margin: 1rem auto 4rem;
}

.titulo::after, .titulo::before{
  content: '';
  height: 2px;
  background: var(--principal);
  width: 100%;
  position: absolute;
  display: block;
  top: 50%;
  z-index: -2;
}
.titulo::before {
  top:0;
  height: 100%;
  width: 200px;
  z-index: -1;
  left: calc(50% - 100px);
  background-color:var(--background);
}
/* FORMATAÇÃO MAIN */
#main {
  max-width: 1200px;
  margin: 4rem auto;
}
.container-produtos {
  display: grid;
  justify-content: space-around;
  grid-template-columns:  repeat(auto-fit, minmax(250px, auto));
  gap:2rem;
  margin-top: 3rem;
}

.produto-item-img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}


/* CSS DOS PRODUTOS ITENS */
.produto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  position: relative;
  background: var(--white);
  box-shadow: 1px 2px 2px #aeaeae;
  padding: 2rem .5rem 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.produto-item-title {
  font-size: 1.1rem;
  max-width: 220px;
  margin-top: .5rem;
}
.produto-item-categoria {
  font-size: 12px;
  position: absolute;
  display: inline-block;
  top: .75rem;
  right: 1rem;
  font-weight: bold;
}
.produto-item-price{
  font-weight: bold;
  font-size: 1.2rem;
}
.produto-item-carrinho  {
  margin: .5rem 0;
  background: var(--principal);
  padding: .25rem 1rem;
  color:var(--white);
  cursor: pointer;
  font-size: 1.2rem;
}
.produto-item-carrinho i{
  font-size: 1.2rem;
  color:var(--white);
  position: relative;
  top:2px;
}

/* FORMATACAO CARRINHO COMPRARAS */
body.desable::after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.753);
}
#cart-produtos{
  display: none;
  width: 320px;
  border:1px solid #000;
  background: var(--white);
  position: fixed;
  top:10%;
  right: 0;
  z-index: 4;
  padding: 10px 10px 0px 0px;
}
#cart-produtos.active{
  display: block;
}
.grid-cart-produtos{
  max-height: 300px;
  overflow-y: scroll;
}
#cart-produtos .cart-produto-item {
  display: grid;
  align-items: flex-start;
  padding: 0.5rem 0 0.5rem .75rem;
  grid-template-columns: repeat(4,auto);
  border-bottom: 1px solid var(--principal);
}
.cart-produto-item img {
  width: 80px;
}
.cart-produto-item h3 {
  font-size: .9rem;
  max-width: 110px;
}
.cart-produto-item span.price{
  font-weight: bold;
  font-size: 1.1rem;
  /* display: flex; */
  /* align-items: flex-start; */
  /* min-width: max-content; */
}
.cart-produto-item > span:not(.price){
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  grid-row: 2;
  grid-column: 3;
  text-align: end;
  justify-self: end;
  color: #ef6161;
}

.car-protudos-rodape {
  padding: 1rem .5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: .5rem 0;
}
.car-protudos-rodape span {
  font-weight: bold;
  text-align: end;
}
.car-protudos-rodape button {
  padding: 5px;
  font-size: 1rem;
  color:var(--white);
  cursor: pointer;
  border:1px solid var(--azul-claro);
  border-radius: 0px;
}
.btn-continuar-comprando{
  background-color: var(--azul-claro);
}
.btn-finalizar{
  width: 80px;
  background-color: var(--principal);
}

/* BTN CART */
.btn-fechar-cart {
  position: absolute;
  cursor: pointer;
  left: -15px;
  top:-15px;
  background: rgb(239 97 97);
  color:var(--white);
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* ESTILO SEARCH */
.inativeSearch {
  display: none;
}

/* ESTILO NENHUM PRODUTO ENCONTRADO */
.sem-produtos.active {
  margin-top: 2rem;
  display: block;
}
.sem-produtos {
  color:#aeaeae;
  display: none;
}

/* ESTILO NUMERO */
p.qntddProduto {
  grid-column: 2;
}
.valueQntdd {
  width: 30px;
  padding-left: 2px;
}

/* ESTILO SACOLA DE COMPRAS */
.bagFinish{
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size:3rem;
  cursor: pointer;
}
.bagFinish i {
  color:var(--principal);
}


/* ESTILO BTN HAMBUGUER */
.btn-hamburguer{
  display: none;
  cursor: pointer;
  z-index: 5;
}
.btn-hamburguer span{
  display: block;
  background: #000;
  width: 35px;
  height: 3px;
  margin: 5px;
  position: relative;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.btn-hamburguer span:nth-child(1)::before{
  content: '';
  display: block;
  position: relative;
  top:-8px;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.btn-hamburguer.active span:nth-child(1)::before{
  width: 40px;
  height: 40px;
  top:-20px;
  background: transparent;
}


/* ESTILO O RESPONSIVO */
@media (max-width: 640px){
  html{
    overflow-x: hidden;
  }
  .cabecalho {
    gap:.75rem;
  }
  .search.desktop {
    display: none;
  }
  .menu-header {
    background-color: var(--background);
    top: 0px;
    z-index: 4;
    position: fixed;
    width: 120px;
    right: -100%;
    height: 100vh;
    padding: 80px 40px 20px 20px;
    justify-content: center;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
  .menu-header.active{
    position: fixed;
    right: 0px;
}
  .menu-header ul {
    flex-direction: column;
  }
  .btn-hamburguer {
    display: block !important;
  }
  .btn-hamburguer.active{
    position: fixed;
    right: 20px;
    top:inherit;
  }

  /* BTN */
  .btn-hamburguer.active span:nth-child(1){
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    top:-5px;
}
  .btn-hamburguer.active span:nth-child(2) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top:-12px;
  }
}
@media (max-width: 1200px){
  .cabecalho{
    padding: 0 5%;
  }
}
/* FOOTER */
#footer{
  background-color: var(--principal);
  padding: 2rem;
}
#footer p {
  line-height: 2rem;
  color:var(--white)
}

.redesSociais{
  display: flex;
  justify-content: center;
  gap:24px;
  margin-top: 2rem;
  text-align: center;
  color:var(--white);
  cursor: pointer;
}